<head>
<%= stylesheet_link_tag 'application' %>
</head>
<h1>Here's what's happening!</h1>



<div class="form-group" > <%= render partial: "form" %> </div>





  <div class='feed'>
  <%= render partial: 'feed' %>

  </div>

<script type="text/javascript">
var $feed = $(".feed");
setInterval(function () {
    $feed.load("/tweets .feed");

}, 2000);
</script>
